$packageName = 'gauge'
$installerType = 'exe'
$url = "https://github.com/getgauge/gauge/releases/download/v{{version}}/gauge-{{version}}-windows.x86.exe"
$url64 = "https://github.com/getgauge/gauge/releases/download/v{{version}}/gauge-{{version}}-windows.x86_64.exe"
$silentArgs = '/S'
$validExitCodes = @(0)

Write-Host -ForegroundColor yellow "We are constantly looking to make Gauge better, and report usage statistics anonymously over time. If you do not want to participate please read instructions https://manpage.getgauge.io/gauge_telemetry_off.html on how to turn it off.`r`n"

Install-ChocolateyPackage "$packageName" "$installerType" "$silentArgs" "$url" "$url64"  -validExitCodes $validExitCodes
