$packageName = 'gauge'
$url = "https://github.com/getgauge/gauge/releases/download/v{{version}}/gauge-{{version}}-windows.x86.zip"
$url64 = "https://github.com/getgauge/gauge/releases/download/v{{version}}/gauge-{{version}}-windows.x86_64.zip"
$location = "C:\Program Files\gauge\bin"
$validExitCodes = @(0)

Write-Host -ForegroundColor yellow "We are constantly looking to make Gauge better, and report usage statistics anonymously over time. If you do not want to participate please read instructions https://manpage.gauge.org/gauge_telemetry_off.html on how to turn it off.`r`n"

Install-ChocolateyZipPackage -PackageName "$packageName" -Url "$url" -Url64 "$url64" -UnzipLocation "$location" -validExitCodes $validExitCodes

setx path "$location"